@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css);
body {
    margin:0;
    background-color: rgb(211, 205, 205);
    padding:0;
    padding-bottom: 9rem;
    background-image: url("../images/bg.jpg")
    
}
.container{
    margin:auto;
    width: 60%; 
    margin-top: 5%;   
}
.navContainer{
    margin:auto;
    background: #333;
    overflow: hidden;

}
.navContainer a{  

    color: #f2f2f2;
    padding:0 20px 0 20px;
    font-size: 17px;
}
nav{
    margin-top: 50px;
}
.nav-right{
    float:right;
}
#brand-name{
    float:left;
    margin:0;
}
#brand-name a:hover{
    text-decoration: none;  
    color: #f2f2f2;
}
nav  a:hover {
    text-decoration: none;  
    background: #ddd;
    color: black;
  }
.nohover a:hover {
    background:transparent;
    color: rgb(22, 98, 121);
}
.text-avfield{
    font-size:20px;
    
}
.text-avfield input[type=email]{
    display:block;
    width: 500px ;
    height: 55px;
    border-radius: 20px ;
}
.text-avfield input[type=text]{
    display:block;
    width: 500px ;
    height: 55px;
    border-radius: 20px ;
}
.text-avfield input[type=password]{
    display:block;
    width: 500px ;
    height: 55px;
    border-radius: 20px ;
}
.text-avfield label{
    color:black;
}

input{
    display:block;
    width: 60%;
    border-radius: 20px;
}
input[type=text],textarea {
    display:block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
   
}
button[type=submit] {
    background-color:#4286f4;
    color:rgb(239, 239, 243);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-small[type=submit]{
    padding: 5px 20px;
}
button[type=submit]:hover {
    background-color:#4168f4;
}
.button-danger[type=submit]{
    padding: 5px 20px;
    background-color:red;
    
}
.button-danger[type=submit]:hover {
    background-color:#f4414a;
}
input[type=password] {
    display:block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=email] {
    display:block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}


form {
    margin-left: auto;
    margin-right:auto;
    width: 60%;
}


a{
    text-decoration: none;  
}
.text{
    display: inline;
}

table {
    overflow-x: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
table a{
    
    display: block;
    color :rgb(37, 36, 36);
}
table a:hover {
    background: transparent;
    color: rgb(55, 99, 194);
    text-decoration: none;  
  }

td, th {
    border: 0px;
    text-align: left;
    padding: 8px;
   
}
#welcome_text{
    color:rgb(3, 49, 49); 
    background-color:rgba(233, 233, 233, 0.377);
    text-align: center;
    font-family:Courier;


}
.info-text{
   color:rgba(34, 34, 199, 0.664);
}
#signup-bg{
    background-color:rgba(233, 233, 233, 0.377);
}
textarea{
    height:200px;

}
.error{
    color: red;
}
.text-p{
    color:rgba(34, 34, 199, 0.664);
    font-size: 20px
}
.view-entries{
    
    margin-left:30%; 
    margin-top:auto; 
    left:50%;
} 
 